//
// * All Rights Reserved
// * This software is proprietary information of
// * Intelligent Sense
// * Use is subject to license terms.
// * Filename: _content.scss
//

// *
// * Author:      agutierrez@intelligentsense.com
// * Date:        10/06/2015
// * Description: Content partial. Add here all the classes for the content
//                of the site, divided by section.
// 

body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

main {
	margin-top: 2em;
	margin-bottom: 2em;
}